@font-face {
    font-family: 'Helvetica Neue Regular';
    src: url('../fonts/helveticaneue-thin-webfont.eot');
    src: url('../fonts/helveticaneue-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/helveticaneue-thin-webfont.woff2') format('woff2'),
         url('../fonts/helveticaneue-thin-webfont.woff') format('woff'),
         url('../fonts/helveticaneue-thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

*{
  margin: 0;
  padding: 0;
}
html, body{
  height: 100%;
}
body{
  font-family: "Helvetica Neue Regular", Tahoma, sans-serif;
}

.clearfix::after{
  content: "";
  clear: both;
  display: block;
}
.main{
  height: 100%;
  min-height: 750px;
  min-width: 1000px;
  overflow: hidden;
  background-image: url('../img/Background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*HEADER*/
.header{
  height: 36px;
  background-color: #085393;
  min-width: 1000px;
}

/*HEADER MENU*/
.header-menu{
  list-style: none;
  min-width: 500px;
}

.header-menu a{
  padding: 0 12px;
  display: block;
  line-height: 36px;
  text-decoration: none;
  color: #60b5ed;
}

.header-menu a:hover, .active a{
  background-color: #4eabda;
  color: #fff;
}

.flag a{
  color: #eaeaea;
  text-decoration: none;
  line-height: 36px;
}

.flag span img{
  vertical-align: middle;
}

.flag a::after{
  content: "";
  float: right;
  display: block;
  margin-top: 3px;
  padding-left: 18px;
  height: 30px;
  border-left: 1px #56a2dc solid;
}

.enter{
  float: right;
  margin-right: 20px;
  padding: 0 12px;
  border: 1px #4a9cd6 solid;
  background-color: #4ca8d9;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4faedb+0,2e7ac4+100 */
  background: #4faedb; /* Old browsers */
  background: -moz-linear-gradient(top,  #4faedb 0%, #2e7ac4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #4faedb 0%,#2e7ac4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #4faedb 0%,#2e7ac4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4faedb', endColorstr='#2e7ac4',GradientType=0 ); /* IE6-9 */

}

.enter, .enter a{
  color: #fff;
  line-height: 34px;
}


.flag a,
.flag span,
.flag p,
.enter a,
.enter p{
  float: right;
  display: block;
}

.enter a,
.enter p{
  padding: 0 5px;
}

.flag span,
.flag p{
  padding: 0 5px;
}
.flag a{
  margin-right: 14px;
}

.header-menu a{
  float: right;
  display: block;
  padding: 0 12px;

}


/*CONTENT*/
.content{
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  overflow: hidden;
  height: 100%;
  margin-top: 36px;
}

.content:before {
  content: "";
  vertical-align: middle;
  height: 100%;
  display: inline-block;
}

.form-wrapper{
  margin: 0 auto;
  display : inline-block;
  vertical-align: middle;
  width: 555px;
  text-align: center;
}
.form-header{
  margin-bottom: 2px;
  height: 62px;
  font-size: 24px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.6);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0.6);
}
.form-header p{
  margin-top: 18px;
}

.form-body{
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  background: rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.6);
}


.form-wrapper p{
  color: #cccccc;
}

.button-link{
  margin: 36px auto;
  width: 284px;
  height: 35px;
  border-top: 1px #778cb9 solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3d5699+0,2b4578+100 */
  background: #3d5699; /* Old browsers */
  background: -moz-linear-gradient(top,  #3d5699 0%, #2b4578 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #3d5699 0%,#2b4578 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #3d5699 0%,#2b4578 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d5699', endColorstr='#2b4578',GradientType=0 ); /* IE6-9 */
}

.button-link .arrow{
  padding-left: 19px;
  padding-right: 16px;
}

.button-link .f{
  padding-left: 15px;
  padding-right: 13px;
  border-right: 1px #203a75 solid;
  padding-top: 8px;
  line-height: 27px;
  display: block;
  float: left;
}


.button-link .caption{
  border-left: 1px #4e67a9 solid;
  padding-left: 30px;
}

.button-link .arrow,
.button-link .caption{
  line-height: 35px;
  display: block;
  float: left;
}

.button-link a{
  color: #fbffff;
  text-decoration:none;
}

.ou-element{
  margin-top: 27px;
  margin-bottom: 23px;
}
.ou-element span{
  color: #999999;
}

.ou-element span::before,
.ou-element span::after{
  content: "";
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 124px;
  border-top: 1px #666666 solid;
  border-bottom: 1px #000 solid;
}

.ou-element span::before{
  margin-right: 6px;
}
.ou-element span::after{
  margin-left: 6px;
}

.form-wrapper input {
  position: relative;
  overflow: hidden;
}

.form-content div{
  margin-top: 15px;
}

input[type="text"]{
  padding-left: 20px;
  width: 265px;
  height: 41px;
  color: #ccc;
  font-size: 14px;
  border: 0;
  border-bottom: 2px solid #484948;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0f0f0e+0,111111+100,111111+100 */
  background: #0f0f0e; /* Old browsers */
  background: -moz-linear-gradient(top,  #0f0f0e 0%, #111111 100%, #111111 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0f0f0e), color-stop(100%,#111111), color-stop(100%,#111111)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #0f0f0e 0%,#111111 100%,#111111 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #0f0f0e 0%,#111111 100%,#111111 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #0f0f0e 0%,#111111 100%,#111111 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #0f0f0e 0%,#111111 100%,#111111 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0f0f0e', endColorstr='#111111',GradientType=0 ); /* IE6-9 */
}

input[type="text"]::-webkit-input-placeholder{
    color: #ccc;
}

.form-content input[type="text"]:focus{
  background: #1b5288;
  -webkit-box-shadow: 0px 0px 12px 2px rgba(105,157,205,0.85);
  -moz-box-shadow: 0px 0px 12px 2px rgba(105,157,205,0.85);
  box-shadow: 0px 0px 12px 2px rgba(105,157,205,0.85);
}

.checkbox-input{
  margin-right: 47px;
  color: #ccc;
  font-size: 14px;
}
.checkbox-input label{
  margin-left: 10px;
}

.submit-input{
  height: 41px;
  width: 155px;
  color: #ffffff;
  font-size: 14px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-color: #5ea5e0;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4eabda+0,2e7ac4+100 */
  background: #4eabda; /* Old browsers */
  background: -moz-linear-gradient(top,  #4eabda 0%, #2e7ac4 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4eabda), color-stop(100%,#2e7ac4)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #4eabda 0%,#2e7ac4 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #4eabda 0%,#2e7ac4 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #4eabda 0%,#2e7ac4 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #4eabda 0%,#2e7ac4 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4eabda', endColorstr='#2e7ac4',GradientType=0 ); /* IE6-9 */

}

.bottom-text{
  margin: 22px auto;
  font-size: 11px;
}
