*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url('../img/background.png');
  font-family: "Tahoma", sans-serif;
}

.clearfix:after{
  content: '';
  clear: both;
  display: block;
}
/*HEADER*/
.main{
  position: relative;
  overflow: hidden;
  margin: 39px auto 0 auto;
  width: 1000px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,1);
  -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,1);
  box-shadow: 0px 4px 4px 0px rgba(0,0,0,1);
}
.header{
}
/*LOGO*/
.logo{
  float: left;
  margin-top: 10px;
  margin-left: 29px;
  position: relative;
  font-size: 12px;
  color: #5fa5bb;
}
.logo p{
  float: left;
  position: absolute;
  z-index: 5;
  left: 71px;
  top: 98px;
}

/*CONTACTS, COUNTRIES*/
.right-head-wrapper{
  float: right;
}
.contacts{
  float: right;
  margin-top: 12px;
  margin-right: 34px;
  line-height: 19px;
  font-size: 12px;
  color: #5fa5bb;

}
.contacts::first-line{
  font-weight: bold;
  line-height: 22px;
}

.countries{
  margin-top: 104px;
  margin-right: 22px;
  font-size: 10px;
  list-style: none;
}
.country{
  float: right;
}
.country img, .country a {
  text-align: center;
  display: block;
}
.country a{
  margin: 4px 7px 0 -10px;
  text-align: center;
  color: #128aa7;
}
.country img{
  margin: auto 7px;
}


/*PHOTO, MENU*/
.photo{
  text-align: center;
}
img{
  vertical-align: middle;
}

.header-menu{
  position: relative;
  z-index: 10;
  font-size: 0;
  border-top: 1px solid #cacbcb;
  border-bottom: 1px solid #000000;
  background: #373737; /* Old browsers */
  background: -moz-linear-gradient(top,  #373737 0%, #303030 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#373737), color-stop(100%,#303030)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #373737 0%,#303030 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #373737 0%,#303030 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #373737 0%,#303030 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #373737 0%,#303030 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#303030',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: 0px 1px 1px 0px rgba(48,48,48,1);
  -moz-box-shadow: 0px 1px 1px 0px rgba(48,48,48,1);
  box-shadow: 0px 1px 1px 0px rgba(48,48,48,1);
}
.header-menu li{
  list-style: none;
  display: inline-block;
}
.header-menu li:first-child{
  padding-left: 33px;
}
.header-menu a{
  display: block;
  padding: 0 33px;
  line-height: 28px;
  font-size: 14px;
  text-decoration: none;
  color: #ffffff;
}

.header-menu img{
  margin-bottom: 7px;
  margin-left: -27px;
}

.submenu{
  display: none;
  padding-bottom: 9px;
  position: absolute;
  top: 29px;
  background: #303030;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(48,48,48,1);
  -moz-box-shadow: 0px 4px 8px 0px rgba(48,48,48,1);
  box-shadow: 0px 4px 8px 0px rgba(48,48,48,1);
}

.submenu li{
  float: none;
  background: none;
  border-bottom: 1px solid #CCC;
}
.submenu a{
  padding-left: 8px;
  line-height: 22px;
  color: #d5d5d5;
}

.submenu-active,
.header-menu li:hover .submenu-trev,
.header-menu li:hover .submenu-serv,
.header-menu li:hover .submenu-part{
  display: block;
}

.submenu-trev{
  left: 175px;
  width: 148px;
}

.submenu-serv{
  left: 330px;
}

.submenu-part{
  left: 443px;
}

.triangle > a:after  {
  position: relative;
  top: 0px;
  left: 6px;
  content: url('../img/white_triangle.png');
}

/*CONTENT*/
.wrapper{
  position: relative;
  overflow: hidden;
}


.left-fon {
width: 100%;
background: #edeef0;
float: left;
position: relative;
right: 581px;
border-right: 1px solid #c7cacf;
}
.central-fon {
width: 100%;
background: #fff;
float: left;
position: relative;
right: 211px;
border-right: 1px solid #c7cacf;
}
.right-fon {
width: 100%;
background: #edeef0;
float: left;
border-right: 1px solid #c7cacf;
border-left: 1px solid #c7cacf;
}


.left-sidebar{
  float: left;
  width: 208px;
  overflow: hidden;
  position:relative;
  /*border-left: 1px solid #c7cacf;
  border-right: 1px solid #c7cacf;*/
  left: 790px;
}
.content{
  float: left;
  width: 582px;
  overflow: hidden;
  position:relative;
  left:70%;
}
.right-sidebar{
  float: right;
  width: 208px;
  /*border-left: 1px solid #c7cacf;*/
  /*border-right: 1px solid #c7cacf;*/
  overflow: hidden;
  position:relative;
  left: 791px;
}

.text{
  padding: 11px 0 12px 16px;
  line-height: 22px;
  font-size: 14px;
  color: #535b54;
}

.text .text-header{
  margin-bottom: 7px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #424c43;
}

/*FOOTER*/
.copyright{
  position: relative;
  height: 50px;
  margin: 12px auto;
  text-align: center;
  color: #dee7ee;
}
