body {
background: rgb(204,204,204);
}
.page {
  background: white;
  width: 655px;
  display: block;
  padding: 45px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.header{
  text-align: center;
}
.pic{
  height: 200px;
  margin: 10px 0 10px 0;
}
.content{
  font-size: 20px;
}
.paragraph{
  margin-top: 40px;
}

.underline{
  border-bottom: 2px solid grey;
}

.content p, ul{
  margin: 0 0 20px 20px;
}

.content span{
  margin-bottom: 2px;
  display: block;
}
