body {
background: rgb(204,204,204);
}
.page {
  background: white;
  width: 35%;
  display: block;
  padding: 45px;
  margin: 0 auto;
  margin-bottom: 20px;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}
.header{
  text-align: center;
}
#pic{
  padding: 10px 0 0 0;
}
.content{
  font-size: 18px;
  /*line-height: 1.5;*/
}
.paragraph{
  padding-top: 18px;  
}

.underline{
  border-bottom: 2px solid grey;
}

.content p{
  padding: 0 0 0 20px;
}
.content ul{
  padding: 0 0 0 60px;
}
.content span{
  margin-bottom: 2px;
  display: block;
}
